<!doctype html>
<html>
<head>
	<title>Angular JS Watch</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="../../../common/angularjs/1/angular.min.js"></script>
	
	<style>
	body {
  overflow-x: hidden;
}

.white {
  color: white;  
}

.red {
  color: red;
}
	</style>
</head>
<body>

<div ng-app="watchDemo">
  <div ng-controller="watchDemoCtrl" class="row">
    <div class="col-md-6">
      <h4 class="label-success white">$scope.$watch - Array</h4>
      <button ng-click="push('X')" class="btn btn-primary btn-sm">Push</button>
      <button ng-click="unshift('X')" class="btn btn-primary btn-sm">Unshift</button>
      <button ng-click="replace('X')" class="btn btn-primary btn-sm">Replace</button>
      <button ng-click="reset()" class="btn btn-warning btn-sm">Reset</button>
    <div class="col-md-12">
      <b class="red">[<span ng-repeat="letter in letters track by $index">{{letter}} </span>]</b>
    </div>

      <div class="col-md-12">[Updated: {{msg.time}}]<b>[Shallow watch]</b> letters: {{msg.content}}</div>
      
      <div class="col-md-12">[Updated: {{msg2.time}}]<b>[Deep watch]</b> letters: {{msg2.content}}</div>

      <div class="col-md-12">[Updated: {{msg3.time}}]<b>[Watch letters[3]]</b> letters[3]: {{msg3.content}}</div>

    </div>
    <div class="col-md-6">  
      <h4 class="label-success white">$scope.$watch - Object</h4>
      <button ng-click="objReplace('a', 'X')" class="btn btn-primary btn-sm">Obj[a] change</button>

      <button ng-click="objReplace('b.ba', 'X')" class="btn btn-primary btn-sm">Obj[b][ba] change</button>

      <button ng-click="objReplace('b.ba.bab', 'X')" class="btn btn-primary btn-sm">Obj[b][ba][bab] change</button>

      <button ng-click="objReplace('b.bb.0.bb1b', 'X')" class="btn btn-primary btn-sm">Obj[a][bb][0][bb1b] change</button>
      <button ng-click="resetObj()" class="btn btn-warning btn-sm">Reset</button>
      
      <div class="col-md-12">
        <span><b class="red">{{obj}}</b></span>
      </div>

      <div class="col-md-12">[Updated: {{msgObj1.time}}]<b>[Shallow Watch obj['a']]</b> obj['a']: {{msgObj1.content}}</div>
      
      <div class="col-md-12">[Updated: {{msgObj2.time}}]<b>[Watch obj['b']</b> obj['b']: {{msgObj2.content}}</div>     
    </div>
  </div>
</div>

		<script>
var app = angular.module('watchDemo', []);
app.controller('watchDemoCtrl', ['$scope', function($scope){
  function clone(obj) {
      return JSON.parse(JSON.stringify(obj));
  }
  
  $scope.letters = ['A','B','C'];
  var defaultObj = Object.freeze({
    'a': 1,
    'b': {
      'ba': {
        'bab': 2
      },
      'bb': [
        {
          'bb1a': 3,
          'bb1b': 4
        },
        {
          'bb2a': 5
        }
      ]
    }
  });
  
  //Clone defaultObj to preserve it
  $scope.obj = clone(defaultObj);

  $scope.$watch('letters', function (newValue, oldValue) {
    $scope.msg = {
      time: Date.now(), 
      content: JSON.stringify($scope.letters)
    };
  });

    $scope.$watch('letters', function (newValue, oldValue) {
    $scope.msg2 = {
      time: Date.now(), 
      content: JSON.stringify($scope.letters)
    };
  }, true);

    $scope.$watch('letters[3]', function (newValue, oldValue) {
    $scope.msg3 = {
      time: Date.now(), 
      content: oldValue  + ' -> ' + newValue
    };
  }, false);

    $scope.$watch('obj["a"]', function (newValue, oldValue) {
    $scope.msgObj1 = {
      time: Date.now(),
      content: $scope.obj['a']
    };
  }, false);  
  
    $scope.$watch('obj["b"]', function (newValue, oldValue) {
    $scope.msgObj2 = {
      time: Date.now(),
      content: JSON.stringify($scope.obj['b'])
    };
  }, true);
  
  $scope.push = function (letter) {
    $scope.letters.push(letter);
  };
  
  $scope.unshift = function (letter) {
    $scope.letters.unshift(letter);
  };
  
  $scope.replace = function (letter) {
    $scope.letters[0] = letter;
  }
  
  $scope.reset = function () {
    $scope.letters = ['A', 'B', 'C'];
  }
  
  $scope.resetObj = function () {
    $scope.obj = clone(defaultObj);
  }
  
  $scope.objReplace = function (key) {
    var val = Math.round(Math.random() * 10);
    switch (key) {
      case 'a':
        $scope.obj.a = val;
        break;
      case 'b.ba':
        $scope.obj.b.ba = val;
        break;
      case 'b.ba.bab':
        $scope.obj.b.ba.bab = val;
        break;
      case 'b.bb.0.bb1b':
        $scope.obj.b.bb[0].bb1b = val;
        break;
    }
  }
}]);
		</script>
</body>
</html>