<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Simple controller function with AngularJS</title>
    
    <script type="text/javascript" src="../../../../common/angularjs/1/angular.min.js"></script>
</head>
<body>
    
    <div class="container" data-ng-controller="SimpleController">
        <form action="" method="post">
            Search using filters: <input type="text" data-ng-model="name">
        </form>
        <ul>
            <li ng-repeat="cust in customers | filter: name | orderBy: city">{{ cust.name }} {{ cust.surname }} - {{ cust.city }}</li>
        </ul>
    </div>

    <script>
        function SimpleController($scope) {
            $scope.customers = [
                {name:'Dave', surname: 'Jones', city: 'Phoenix' },
                {name:'Jamie', surname: 'Riley', city: 'Atlanta' },
                {name:'Heedy', surname: 'Wahlin', city: 'Chandler' },
                {name:'Thomas', surname: 'Winter', city: 'Seattle' }
            ];
        }
    </script>

</body>
</html>