<!DOCTYPE html>
<html>

  <head>
    <!-- Twitter bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <!-- apiCheck is used by formly to validate its api -->
    <script src="//npmcdn.com/api-check@latest/dist/api-check.js"></script>
    <!-- This is the latest version of angular (at the time this template was created) -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

    <!-- This is the current state of master for formly core. -->
    <script src="//npmcdn.com/angular-formly@latest/dist/formly.js"></script>
    <!-- This is the current state of master for the bootstrap templates -->
    <script src="//npmcdn.com/angular-formly-templates-bootstrap@latest/dist/angular-formly-templates-bootstrap.js"></script>
	
	<style>
	body {
		margin: 20px
	}

	.formly-field {
		margin-bottom: 16px;
	}
	</style>

    <title>Angular Formly Example</title>
  </head>

  <body ng-app="formlyExample" ng-controller="MainCtrl as vm">
    <div>
      <h1>angular-formly example: {{vm.exampleTitle}}</h1>
      <div>
        Expression Properties allows you to dynamically change many properties of a field.
        For more information, see <a href="http://docs.angular-formly.com/v6.16.0/docs/field-configuration-object#expressionproperties-object">the docs</a>
        and <a href="https://egghead.io/lessons/angularjs-angular-formly-expressionproperties?pl=7">the egghead.io lesson</a>.
      </div>
      <form ng-submit="vm.onSubmit()" novalidate>
        <formly-form model="vm.model" fields="vm.fields">
          <button type="submit" class="btn btn-primary submit-button">Submit</button>
        </formly-form>
      </form>
      <h2>Model</h2>
      <pre>{{vm.model | json}}</pre>
      <h2>Fields <small>(note, functions are not shown)</small></h2>
      <pre>{{vm.originalFields | json}}</pre>
    </div>

    <div style="margin-top:30px">
      <small>
        This is an example for the
        <a href="https://formly-js.github.io/angular-formly">angular-formly</a>
        project made with ? by
        <strong>
          <span ng-if="!vm.author.name || !vm.author.url">
            {{vm.author.name || 'anonymous'}}
          </span>
          <a ng-if="vm.author.url" ng-href="{{::vm.author.url}}">
            {{vm.author.name}}
          </a>
        </strong>
        <br />
        This example is running angular version "{{vm.env.angularVersion}}" and formly version "{{vm.env.formlyVersion}}"
      </small>
    </div>

    <!-- Put custom templates here -->
	<script>
	/* global angular */
	(function() {
	  
	  'use strict';

	  var app = angular.module('formlyExample', ['formly', 'formlyBootstrap'], function config(formlyConfigProvider) {
		// set templates here
		formlyConfigProvider.setType({
		  name: 'whatever',
		  template: 'your template'
		});
	  });
	  

	  app.controller('MainCtrl', function MainCtrl(formlyVersion) {
		var vm = this;
		// funcation assignment
		vm.onSubmit = onSubmit;

		// variable assignment
		vm.author = { // optionally fill in your info below :-)
		  name: 'Kent C. Dodds',
		  url: 'https://twitter.com/kentcdodds' // a link to your twitter/github/blog/whatever
		};
		vm.exampleTitle = 'expressionProperties'; // add this
		vm.env = {
		  angularVersion: angular.version.full,
		  formlyVersion: formlyVersion
		};

		vm.model = {};
		
		vm.fields = [
		  {
			key: 'text',
			type: 'input',
			templateOptions: {
			  label: 'Text',
			  placeholder: 'Type here to see the other field become enabled...'
			}
		  },
		  {
			key: 'text2',
			type: 'input',
			templateOptions: {
			  label: 'Hey!',
			  placeholder: 'This one is disabled if there is no text in the other input'
			},
			expressionProperties: {
			  'templateOptions.disabled': '!model.text'
			}
		  }
		];
		
		vm.originalFields = angular.copy(vm.fields);

		// function definition
		function onSubmit() {
		  alert(JSON.stringify(vm.model), null, 2);
		}
	  });

	})();
	</script>

  </body>

</html>
