<!doctype html>
<html>
<head>
    <title>AngularJS Grid</title>

	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js'></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	
	<style>
	.current-true {
		font-weight: bold;
	}
	</style>
</head>
<body>

<div class="container">
	<h1>AngularJS Grid</h1>

	<p>Table with REST call. The URL returns JSON. AngularJS library needs "angular-resource" file.</p>
</div>

<div ng-app="cmsPlus">
    <div class="container">
        <div class="col-xs-8 col-sm-9 col-md-9" ng-controller="CareerCtrl" data-ng-init="init()">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="4">S.No</th>
                            <th>Job ID</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="career in careers">
                            <td style="text-align:center">{{ $index+1 }}</td>
                            <td>{{ career.job_id }}</td>
                            <td>{{ career.job_title }}</td>
                        </tr>
                        <tr ng-show="careers.length == 0">
                            <td colspan="3" style="text-align:center">No Records Found..!</td>
                        </tr>
                    </tbody>
                </table>
                <div paginate="allCareers"></div>
            </div>
            <!--/row-->
        </div>
        <!--/col-span-9-->
    </div>
</div>

<!-- http://jsfiddle.net/alexeime/Rd8MG/101/ -->

<script type="text/javascript">
//<![CDATA[

var app = angular.module('cmsPlus', ['ngResource']);

app.factory('Career', function ($resource) {
    return $resource('http://develop.alexei.me/careers/careers.php?callback=JSON_CALLBACK&page=:page', {
        page: 1
    }, {
        'get': {
            method: 'JSONP'
        }
    });
});

app.directive('paginate', ['Career', function (Career) {
    return {
        scope: {
            allCareers: '=paginate'
        },
        template: '<ul class="pagination" ng-show="totalPages > 1">' +
            '  <li><a ng-click="firstPage()">&laquo;</a></li>' +
            '  <li><a ng-click="prevPage()">&lsaquo;</a></li>' +
            '  <li ng-repeat="n in pages">' +
            '    <a class="current-{{n==current_page}}" ng-bind="n" ng-click="setPage(n)">1</a>' +
            '  </li>' +
            '  <li><a ng-click="nextPage()">&rsaquo;</a></li>' +
            '  <li><a ng-click="last_page()">&raquo;</a></li>' +
            '</ul>',
        link: function (scope) {
            scope.nextPage = function () {
                if (scope.current_page < scope.totalPages) {
                    scope.current_page++;
                }
            };

            scope.prevPage = function () {
                if (scope.current_page > 1) {
                    scope.current_page--;
                }
            };

            scope.firstPage = function () {
                scope.current_page = 1;
            };

            scope.last_page = function () {
                scope.current_page = scope.totalPages;
            };

            scope.setPage = function (page) {
                scope.current_page = page;
            };
            var paginate = function (results, oldResults) {
                if (oldResults === results) return;
                scope.current_page = results.current_page;
                scope.total = results.total;
                scope.totalPages = results.last_page;
                scope.pages = [];

                for (var i = 1; i <= scope.totalPages; i++) {
                    scope.pages.push(i);
                }
            };

            var pageChange = function (newPage, last_page) {
                if (newPage == last_page) return;
                Career.get({
                    page: newPage
                }, function (response) {
                    angular.copy(response.careers.data, scope.allCareers.data);
                }, function (error) {
                    console.log(error);
                    $scope.allCareers.data = [];
                });
            };

            scope.$watch('allCareers', paginate);
            scope.$watch('current_page', pageChange);
        }
    }
}]);

function CareerCtrl($scope, $http, Career) {
    $scope.init = function () {
        Career.get({}, function (response) {
            console.log(response);
            $scope.careers = response.careers.data;
            $scope.allCareers = response.careers;
            $scope.allCareers.data[2].job_title = "hsdfk";
        }, function (error) {
            console.log(error);
            $scope.careers = [];
        });

    };
}

//]]>
</script>

</body>
</html>