<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Factory and Controllers</title>
    
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
</head>
<body>
    <div ng-app="">
        <input type="text" ng-model="data.message">
        <h1>{{ data.message }}</h1>

        <div ng-controller="FirstCtrl">
            <input type="text" ng-model="data.message">
            <h1>{{ data.message }}</h1>
        </div>

        <div ng-controller="SecondCtrl">
            <input type="text" ng-model="data.message">
            <h1>{{ data.message }}</h1>
        </div>
    </div>

    <script>
    var myApp = angular.module('myApp', []);

    myApp.factory('Data', function () {
        return { message: "I'm data from a service" };
    });

    function FirstCtrl($scope, Data) {
        $scope.data = Data;
    }

    function SecondCtrl($scope, Data) {
        $scope.data = Data;
    } 
    </script>
</body>
</html>