<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

	<title>AngularJS add form element with select</title>
</head>
<body ng-app="myApp">

<div class="container" ng-controller="MyController">
	
	<h3>Adding select dynamically</h3>
	
	<p>Add a new student to an exam. You cannot select a student twice.</p>

	<form class="form-horizontal" method="post" role="form" novalidate>
			
		<div class="form-group" ng-repeat="exam_student in exam_students track by $index">
			
			<div class="col-sm-4">
				<select class="form-control" ng-model="exam_student.student_id" ng-change="hasChange()">
					<option ng-repeat="student in students" value={{::student.id}} ng-disabled="student.disable">{{::student.name}}</option>
				</select>
			</div>
			<div class="col-sm-8">
				<button type="button" ng-show="exam_students.length > 1" class="btn btn-danger" ng-click="removeStudent($index)">-</button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<button type="button" class="btn btn-primary" ng-click="addStudent()" ng-disabled="!canAddStudent()" title="Add Student">Add Student</button>
			</div>
		</div>
		{{ getStudents() }}
	</form>
</div>

<script>//<![CDATA[

var app = angular.module('myApp', []);

app.controller('MyController', ['$scope', MyController]);

function MyController($scope) {

	// I suggest adding an empty object so that we can re-select the options
    $scope.students = [
    			{},
				{id: 1, name: 'Student 1', disable: false},
				{id: 2, name: 'Student 2', disable: false},
				{id: 3, name: 'Student 3', disable: false}
	];

	$scope.exam_students = [{}]; 

	$scope.addStudent = function() {
		if ( $scope.canAddStudent() ) {
			$scope.exam_students.push({});
		}
	}
	
	$scope.getStudents = function() {
		var task_names = [];
 
		for (var i = 0, max = $scope.students.length; i < max; i += 1) {
			if ($scope.students[i].disable === false) {
				task_names.push($scope.students[i]);
			}
		}
		
		return task_names;
	}
	
	$scope.canAddStudent = function() {
		return $scope.exam_students.length == 0 || $scope.exam_students.length < $scope.students.length - 1;
	}

	$scope.removeStudent = function(index){
		$scope.exam_students.splice(index,1);
		$scope.hasChange();
	}

	$scope.hasChange = function() {
		// using a lookup table, instead of 2 nested loops, for a better performance when the list gets large
		var lookupTable = {};
	  
		// store the student_id in the lookupTable and set it to true
		// worth noting since I am using option tag, student_id will be stored as string instead of number, but it is ok because key in javascript object will be converted to string
		$scope.exam_students.forEach(function(exam_student) {

		lookupTable[exam_student.student_id] = true;

		});
		  
		// loop through the options and if student_id is true/there, set disable accordingly
		$scope.students.forEach(function(student) {
			if(lookupTable[student.id]) {
				student.disable = true;
			} else {
				student.disable = false;
			}
			//or student.disable = table[student.id];
		});
	}
}

//]]>
</script>

</body>
</html>